aside#application-menu
    header(data-title='Menu')
    article.active.list
      ul
        li.current
          a(href='#item-application-1', data-router='article')
            strong Item 1
        li
          a(href='#item-application-2', data-router='article')
            strong Item 2