!!! 5
html
head
	include includes/_head
body.ap
	include includes/sections/index/section-index.jade
	include includes/asides/index/aside-index.jade
	include includes/sections/template/section-template.jade
	include includes/asides/template/aside-template.jade
	include includes/_dependencies