aside#template-menu
    header(data-title='Menu')
    article.active.list
      ul
        li.current
          a(href='#main-template', data-router='article')
            strong Main
        li
          a(href='#item-template-1', data-router='article')
            strong Item 1
        li
          a(href='#item-template-2', data-router='article')
            strong Item 2