
<section id="template-main" data-transition="slide">
  <header data-title="My Template" data-back="home blue">
    <nav class="left"><a href="#template-menu" data-router="aside" data-icon="menu"></a></nav>
  </header>
  <article id="main-template" data-transition="slide" class="active list indented scroll">
    <form>
      <li class="highlight">
        <input type="text" placeholder="Input text"/>
      </li>
      <li class="highlight">
        <input type="password" placeholder="Input password"/>
      </li>
      <li class="highlight">
        <label class="checkbox">
          <input type="checkbox"/> Checkbox 
        </label>
      </li>
      <li class="highlight">
        <textarea placeholder="Place your text here"></textarea>
      </li>
      <li class="highlight">
        <label class="select">
          <select class="custom">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </label>
      </li>
    </form>
  </article>
  <article id="item-template-1" data-transition="slide" class="list">
    <li class="highlight"><strong>Template Item 1</strong></li>
    <li class="highlight"><a href="#item-template-2" data-router="article" class="button anchor theme">Travel to article 2</a></li>
    <li class="highlight"><a href="#application-main" data-router="section" class="button anchor theme">Travel to Index</a></li>
  </article>
  <article id="item-template-2" data-transition="slide" class="list">
    <li class="highlight"><strong>Template Item 2</strong></li>
    <li class="highlight"><a href="#item-template-1" data-router="article" class="button anchor theme">Travel to article 1</a></li>
    <li class="highlight"><a href="#application-main" data-router="section" class="button anchor theme">Travel to Index</a></li>
  </article>
</section>