//
   Lungo - Dependencies 
script(src="https://cdn.firebase.com/v0/firebase.js")
script(src='components/quojs/quo.js')
script(src='components/lungo/lungo.js')
script(src='components/nierikate/utils.js')
script(src='components/nierikate/nierikate.js')
//
   Lungo - Sandbox App 
script
  Lungo.init({
  name: 'example'
  });